<section id="header">
        <div class="container">
            <nav>
                <h2 class="logo"><span>A</span>kshat</h2>
                <ul id="sidemenu" [style.right]="checkPos?'0':'-200px'">
                    <li><a href="#header">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#portfolio">Portfolio</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <fa-icon [icon]="faTimes" (click)="sidebar()"></fa-icon>
                </ul>
                <fa-icon [icon]="faBars" (click)="sidebar()"></fa-icon>
            </nav>
            <div class="header-text">
                <p>Front-End Web Developer</p>
                <h1>Hi I'm <span>Akshat</span> <br>Luthra from Delhi</h1>
            </div>
        </div>
</section>
<section id = "about">
    <div class="container">
        <div class="row">
            <div class="about-col-1">
                <img src="../assets/images/about-us.png">
            </div>
            <div class="about-col-2">
                <h1 class="sub-title">About Me</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi tempore sit reprehenderit beatae, similique ullam eligendi. Voluptas saepe neque excepturi illum amet, esse dignissimos temporibus dicta reiciendis perspiciatis nisi libero.</p>

                <div class="tab-titles">
                    <p class="tab-links" [class.active-link]="showLink" (click) = "ChangeSkills()">Skills</p>
                    <p class="tab-links" [class.active-link]="showLink2"(click) = "ChangeSkills2()">Experience</p>
                    <p class="tab-links" [class.active-link]="showLink3"(click) = "ChangeSkills3()">Education</p>
                </div>
                <div class="tab-contents" [class.active-tab]="showDetails" id="skills">
                    <ul>
                        <li><span>Web Development</span><br> Can design Sites using MERN Stack and MEAN Stack</li>
                        <li><span>Graphic Desginer</span><br> Can edit photos using Adobe Photoshop, Figma and canva </li>
                        <li><span>Digtial Marketing</span><br> Can market your websites using SEO, SEM</li>
                    </ul>
                </div>
                <div class="tab-contents" [class.active-tab]="showDetails2" id="experience">
                    <ul>
                        <li><span>2021</span><br>Web Design Intern in Tech2globe</li>
                    </ul>
                </div>

                <div class="tab-contents" [class.active-tab]="showDetails3" id="education">
                    <ul>
                        <li><span>2021-23</span><br>MCA From JIMS, Rohini</li>
                        <li><span>2017-20</span><br>BCA From TIPS, Dwarka</li>
                        <li><span>2016-17</span><br>12th From GD Goenka, Paschim Vihar</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="services">
    <div class="container">
        <h1 class="sub-title">My Services</h1>
        <div class="services-list">
            <div>
                <fa-icon [icon]="faCode"></fa-icon>
                <h2>Web Design</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                <a href="#">Learm more</a>
            </div>
            <div>
                <fa-icon [icon]="faPenToSquare"></fa-icon>
                <h2>Graphic Design</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                <a href="#">Learm more</a>
            </div>
            <div>
                <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
                <h2>Digital Marketing</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                <a href="#">Learm more</a>
            </div>
        </div>
    </div>

</section>

<section id="portfolio">
    <div class="container">
        <h1 class="sub-title">My Work</h1>
        <div class="work-list">
            <div class = "work">
                <img src="../assets/images/img_1.jpg">
                <div class="layer">
                    <h3>Ecommerce App</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                    <a href="#"><fa-icon [icon]="faExternalLink"></fa-icon></a>
                </div>
            </div>
            <div class = "work">
                <img src="../assets/images/img_2.jpg">
                <div class="layer">
                    <h3>Portfolio Site</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                    <a href="#"><fa-icon [icon]="faExternalLink"></fa-icon></a>
                </div>
            </div>
            <div class = "work">
                <img src="../assets/images/img_3.jpg">
                <div class="layer">
                    <h3>Social Media Site</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                    <a href="#"><fa-icon [icon]="faExternalLink"></fa-icon></a>
                </div>
            </div>
            
        </div>
        <a href="#" class="btn">See more</a>
    </div>

</section>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="contact-left">
                <h1 class="sub-title">Contact Me</h1>
                <p><fa-icon [icon]="faMessage"></fa-icon>contact@example.com</p>
                <p><fa-icon [icon] = "faPhone"></fa-icon>0123456789</p>
                <div class="social-icons">
                    <a href = "https://www.facebook.com/"><fa-icon [icon]="faFacebook"></fa-icon></a>
                    <a href = "https://twitter.com/"><fa-icon [icon]="faTwitter"></fa-icon></a>
                    <a href = "https://www.instagram.com/"><fa-icon [icon]="faInstagram"></fa-icon></a>
                    <a href = "https://www.linkedin.com/"><fa-icon [icon]="faLinkedin"></fa-icon></a>
                </div>
                <a href="#" download class="btn btn2">Download CV</a>
            </div>
            <div class="contact-right">
                <form>
                    <input type="text" name="Name" placeholder="Your Name" required>
                    <input type="email" name="email" placeholder="Your Email" required>
                    <textarea name="Message" rows="6" placeholder="Your Message"></textarea>
                    <button type="submit" class="btn btn2">Submit</button>

                </form>
            </div>
        </div>
    </div>

</section>
<section id="footer">
    <div class="copyright">Copyright &copy; AkshatLuthra.com | Made with by Ak Team</div>
</section>